/*  ==========================================================================
    Normatização CSS
    ========================================================================== */

    html,
    button,
    input,
    select,
    textarea {
        color: #444;
        font-family: "Segoe WP", "Segoe UI", Segoe, Geneva, Tahoma, sans-serif;
    }

    ::-moz-selection {
        background: #b3d4fc;
        text-shadow: none;
    }

    ::selection {
        background: #b3d4fc;
        text-shadow: none;
    }

    img {
        vertical-align: middle;
    }

    fieldset {
        border: 0;
        margin: 0;
        padding: 0;
    }

    textarea {
        resize: vertical;
    }

    .chromeframe {
        margin: 0.2em 0;
        background: #ccc;
        color: #000;
        padding: 0.2em 0;
    }

    body {
        font-size: 62.5%;
    }

    h1, h2, h3, h5, h6 {
        font-weight: normal;
    }

    b {
        font-weight: 700;
    }


/*  ==========================================================================
    Geral
    ========================================================================== */    
    
    // Melhorando responsividade dos elementos
    * {
        -webkit-box-sizing: border-box; 
        -moz-box-sizing: border-box; 
        box-sizing: border-box;
    }

    .row:before,
    .row:after {
        content: " ";
        display: table;
        clear: both;
    }

//  ========================================================================== //
//    Mixins Basicos
//  ========================================================================== //

    @mixin clearfix() {
        *zoom:1;

        &:before,
        &:after {
            content: " "; // 1
            display: table; // 2
        }
        &:after {
            clear: both;
        }
    }

/*  ==========================================================================
    Grid System
    ========================================================================== */

    $grid-gutter: 1%;  // espaçamento entre as colunas
    $grid-columns: 12; // Quantidade de colunas
    $grid-max: 980px;  // Tamanho do container

    [class^="col-"] {    
        float: left;
        // margin-left: $grid-gutter;
        padding: $grid-gutter;
        // margin-bottom: 20px;
        // background: red;
        // outline: 1px solid gray;
        // padding: 0 $grid-gutter;

        margin-bottom: 20px;
        background: #e4e5e7;
        text-align: center;
        color: #767779; 
        margin-left: $grid-gutter;
        margin-right: $grid-gutter;

        &:last-child {

        }     
    }

    div[class^="col"] + div[class^="col"]{ 

    }

    @for $i from 1 through $grid-columns{ 
        .col-#{$i} {
            // width: 100% / $grid-columns * $i;
            width: (100% / $grid-columns * $i) - ($grid-gutter * 2 );
        }
    }    


/*  ==========================================================================
    Layout
    ========================================================================== */
    
    .container { width: $grid-max; margin: auto; }

    .cabecalho, .footer{
        background: red;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .conteudo{
        background: #444;
        // height: 500px;
    }

    .sidebar{
        background: #444;
        // height: 500px;
    }


/*  ==========================================================================
    Media Queries
    ========================================================================== */
    @media only screen and (max-width: 550px) {

        @for $i from 1 through $grid-columns{ 
            .col-#{$i} {
                width: auto ;
                float: none;
                margin-left: 0;
            }
        }  
    }
