@charset "UTF-8";
/*  ==========================================================================
    Normatização CSS
    ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #444;
  font-family: "Segoe WP", "Segoe UI", Segoe, Geneva, Tahoma, sans-serif; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

img {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

body {
  font-size: 62.5%; }

h1, h2, h3, h5, h6 {
  font-weight: normal; }

b {
  font-weight: 700; }

/*  ==========================================================================
    Geral
    ========================================================================== */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row:before,
.row:after {
  content: " ";
  display: table;
  clear: both; }

/*  ==========================================================================
    Grid System
    ========================================================================== */
.container {
  width: 980px;
  margin: auto; }

[class^="col-"] {
  float: left;
  padding: 1%;
  margin-bottom: 20px;
  background: #e4e5e7;
  text-align: center;
  color: #767779;
  margin-left: 1%;
  margin-right: 1%; }

.col-1 {
  width: 6.33333%; }

.col-2 {
  width: 14.66667%; }

.col-3 {
  width: 23%; }

.col-4 {
  width: 31.33333%; }

.col-5 {
  width: 39.66667%; }

.col-6 {
  width: 48%; }

.col-7 {
  width: 56.33333%; }

.col-8 {
  width: 64.66667%; }

.col-9 {
  width: 73%; }

.col-10 {
  width: 81.33333%; }

.col-11 {
  width: 89.66667%; }

.col-12 {
  width: 98%; }

/*  ==========================================================================
    Layout
    ========================================================================== */
.cabecalho, .footer {
  background: red;
  margin-top: 1em;
  margin-bottom: 1em; }

.conteudo {
  background: #444; }

.sidebar {
  background: #444; }

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (max-width: 550px) {
  .col-1 {
    width: auto;
    float: none;
    margin-left: 0; }

  .col-2 {
    width: auto;
    float: none;
    margin-left: 0; }

  .col-3 {
    width: auto;
    float: none;
    margin-left: 0; }

  .col-4 {
    width: auto;
    float: none;
    margin-left: 0; }

  .col-5 {
    width: auto;
    float: none;
    margin-left: 0; }

  .col-6 {
    width: auto;
    float: none;
    margin-left: 0; }

  .col-7 {
    width: auto;
    float: none;
    margin-left: 0; }

  .col-8 {
    width: auto;
    float: none;
    margin-left: 0; }

  .col-9 {
    width: auto;
    float: none;
    margin-left: 0; }

  .col-10 {
    width: auto;
    float: none;
    margin-left: 0; }

  .col-11 {
    width: auto;
    float: none;
    margin-left: 0; }

  .col-12 {
    width: auto;
    float: none;
    margin-left: 0; } }

/*# sourceMappingURL=application.css.map */
